{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('profileStyle') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('profileJS') }}
{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="h-75">
            <div class="wrap justify-content-center">
                <div id="wrapper">
                    {{ form_start(form) }}
                        <div class="form-content">
                            <div>
                                {{ form_row(form.salutation) }}
                                <br>
                                <div>
                                    {{ form_row(form.firstName) }}
                                    {{ form_row(form.lastName) }}
                                </div>

                                <br>
                                {{ form_row(form.phoneNumber) }}
                                <br>
                            </div>
                            <div>
                                {{ form_row(form.professions.first) }}
                            </div>
                            <div>
                                {{ form_row(form.professions.second) }}
                            </div>
                            <br>
                            {{ form_row(form.submit) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}