<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIOpIph9rbHtDruE7bc0hHN9Ze-fz7Ik4&callback=initAutocomplete&libraries=places&v=weekly" defer ></script>
        <script src="https://kit.fontawesome.com/91480ee909.js" crossorigin="anonymous"></script>

        {% block head %}{% endblock %}
        
    </head>
    <body>

        {% include('./partials/navbar.html.twig') %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('addressProvider') }}
        {% endblock %}
    </body>
</html>

