{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adIndexStyle') }}
{% endblock %}

{% block body %}

    <section class="ad_index__header">
        <div class="ad_index__header__image">
        </div>
    </section>
    <a href="{{ path('ad_new') }}">Create new</a>
    <div class="ad_index__content">
        <div class="ad_index__container">

            {% for ad in ads %}
                <div class=" ad_card_custom card " >
                    <a href="{{ path('ad_show', {'id': ad.id}) }}">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRiICWgjGSyhqA38ZpatCnopA8RlFjkQDn4w&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title-custom">{{ ad.title }}</p>
                            <p class="card-content-custom">{{ ad.content }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
