{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adIndexStyle') }}
{% endblock %}

{% block body %}

    <section class="ad_index__header">
        <div class="ad_index__header__image">
        </div>
    </section>

    <div class="container-fluid" style="padding-right: 20%; padding-left: 20%">

    </div>

    <div class="ad_index__content">
        <div class="ad_index__container">
            <div class="container" style="padding-right: 10%">
            {{ include('ad/_search.html.twig') }}
            </div>
            {% for ad in ads %}
                <div class=" ad_card_custom card ">
                    <a href="{{ path('ad_show', {'id': ad.id}) }}" style="text-decoration:none">
                        {% set image = ad.images|first %}
                        {% if image %}
                            <img src="{{ asset('/upload/' ~ image.name) }}" alt="{{  image.name }}" class="card-img-top" style="max-width: 100%" >
                        {% endif %}

                        {% if ad.locality and ad.administrativeAreaLevel1 %}{% set address = ad.locality ~ ', ' ~ ad.administrativeAreaLevel1 %}
                        {% elseif ad.locality %}{% set address = ad.locality %}
                        {% elseif ad.administrativeAreaLevel1 %}{% set address = ad.administrativeAreaLevel1 %}
                        {% else %}{% set address = '' %}
                        {% endif %}

                        <div class="card-body">
                            <p class="card-title-custom">{{ ad.title }}</p>
                            <p class="card-subtitle mb-2 text-muted">{{ ad.profession.name }} - {{ ad.type.name }}</p>
                            {% if address %}<p style="color: grey"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ address }}</p>{% endif %}
                            <div class="card-content-custom" >{{ ad.content|raw }}</div>
                        </div>
                    </a>
                    <input type="hidden" class="searchField" id="street_numberad" value="{{ ad.streetNumber }}">
                    <input type="hidden" class="searchField" id="routead" value="{{ ad.route }}">
                    <input type="hidden" class="searchField" id="localityad" value="{{ ad.locality }}">
                    <input type="hidden" class="searchField" id="administrative_area_level_1ad" value="{{ ad.administrativeAreaLevel1 }}">
                    <input type="hidden" class="searchField" id="countryad" value="{{ ad.country }}">
                    <input type="hidden" class="searchField" id="postal_codead" value="{{ ad.postalCode }}">

                    <input type="hidden" class="professionField" value="{{ ad.profession.name }}">
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
