{% extends 'base.html.twig' %}

{% block title %}Ad{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adShowStyle') }}
{% endblock %}

{% block body %}

    {% if sameUser %}
        {{ include('ad/_close_form.html.twig') }}
    {% endif %}

    <section class="ad_details_header"></section>

    <section class="ad_details_section">
        <div class="ad_details_container">
            <div class="ad_details_left-content">
                <h1 class="ad_details_title">{{ad.title}}</h1>
                <p> Crée le {{ ad.date ? ad.date|date('d-m-Y H:i:s') : '' }}</p>
                <div class="ad_details_ad-image">

                    {% set index = 1 %}

                    {% for image in ad.images %}
                        {% set imageToShow = ad.images[0] %}

                    {% if index == 1 %}
                        <img src="{{ asset('/upload/' ~ imageToShow.name) }}" alt="{{  imageToShow.name }}" class="ad_details_ad-image-picture" >
                        {% set index = index  + 1 %}
                    {% else %}
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRiICWgjGSyhqA38ZpatCnopA8RlFjkQDn4w&usqp=CAU"  alt="default-image">
                    {% endif %}

                    {% endfor %}
                </div>

                <!-- AD CONTENT -->

                <div class="ad_details_ad-content">
                    {{ ad.content }}
                </div>


                <!-- IMAGES CONTENT (WIP) -->

                <div class="ad_details_ad-images-container" >

                    <div class="gallery-wrapper">

                        {% set i = 1 %}

                        {% for image in ad.images %}
                            <div class="image-wrapper">
                                <a href="#lightbox-image-{{ i }}">
                                    <img src="{{ asset('/upload/' ~ image.name) }}" alt="{{  image.name }}">
                                </a>
                            </div>

                            {% set i =  i + 1 %}
                        {% endfor %}

                        {% set i =  1 %}

                    </div>

                    {% set j = 1 %}

                    <div class="gallery-lightboxes">
                        {% for image in ad.images %}
                        <div class="image-lightbox" id="lightbox-image-{{ j }}">
                            <div class="image-lightbox-wrapper">
                                <a href="#" class="close"></a>
                                {%  if j > 1  %}
                                    <a href="#lightbox-image-{{   j - 1 }}" class="arrow-left"></a>
                                {% endif %}
                                {% if j < ad.images|length %}
                                    <a href="#lightbox-image-{{ j + 1 }}" class="arrow-right"></a>
                                {% endif %}
                                <img src="{{ asset('/upload/' ~ image.name) }}" alt="{{  image.name }}">
                            </div>
                        </div>

                            {% set j =  j + 1 %}
                        {% endfor %}

                        {% set j = 1 %}

                    </div>

                </div>

                <div class="ad_details_ad-features">

                    <h4>Caractéristiques </h4>

                    <ul>
                        <li>  Secretariat : {{ ad.haveSecretariat ? 'Yes' : 'No' }} </li>
                        <li>  Visite à domicile : {{ ad.homeVisit ? 'Yes' : 'No' }} </li>
                        <li>  Housing : {{ ad.housing ? 'Yes' : 'No' }} </li>
                        <li>  Nombre moyen de rendez-vous journaliers : {{ ad.appointments }} </li>
                        <li>  Locigiel utilisé : {{ ad.software }} </li>
                        <li>  HouseKeeping : {{ ad.houseKeeping ? 'Yes' : 'No' }} </li>
                        <li>  Secteur : {{ ad.sector }} </li>
                        <li>  Addresse :  {{ ad.address }} </li>
                    </ul>

                </div>

            </div>


            <!-- RIGHT CONTENT (WIP) -->
            {% if false == sameUser and currentUser %}
                <input id="hasResponse" type="hidden" value="{{ hasResponse }}"/>
                <input id="isGranted" type="hidden" value="{{ is_granted('ROLE_USER') }}"/>

                <div id="responseSection" class="ad_details_right-content" style="display: none;">
                    <h4 id="alreadyResponseMsg" style="display: none">Vous avez répondu à cette offre.</h4>

                    <div id="displaySectionBtn" class="container">


                        <div id="responseBody" style="display: none">
                            <form id="contact" action="" method="get">
                            <h3>Contactez le propriétaire</h3>

                            <h4>... Il sera notifié par e-mail ! </h4>

                            <fieldset>
                                <textarea tabindex="5" cols="40" rows="13" name="content" id="content" required>Bonjour,

{% if profession %}Je suis {{ profession }} et je suis intéressé par votre annonce.
    {% else %}Je suis intéressé par votre annonce.
    {% endif %}

Pourrions-nous échanger à ce sujet ? Je suis joignable {% if phoneNumber %}par téléphone au {{ phoneNumber }} ou {% endif %}par e-mail : {{ mail }}.

Veuillez recevoir l'expression de mes sincères salutations.

{{ currentUser.name }}</textarea>
                            </fieldset>
                            <fieldset>
                                <button type="button" id="contact-submit" data-submit="...Envoi en cours" onclick="buildResponse({{ ad.id }})">Envoyer la candidature</button>
                            </fieldset>
                            </form>
                        </div>

                    </div>
                </div>

            {% endif %}

        </div>

    </section>


    <a href="#lightbox-image-3" class="arrow-left"></a>
    <a href="{{ path('ad_index') }}">back to list</a>

    <a href="{{ path('ad_edit', {'id': ad.id}) }}">edit</a>

    {{ include('ad/_delete_form.html.twig') }}

    {{ include('ad/_responses.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('createResponse') }}
{% endblock %}
